<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <!--section name="BGlobal.OutlookAddInBPMONLine.Core.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" /-->
      <section name="BGlobal.OutlookAddInBPMONLine.Core.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="BGlobal.OutlookAddInBPMONLine.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <userSettings>    
    <BGlobal.OutlookAddInBPMONLine.Core.Properties.Settings>
      <setting name="Server" serializeAs="String">
        <value>http://localhost/bpmTranslate</value>
      </setting>
      <setting name="User" serializeAs="String">
        <value>Supervisor</value>
      </setting>
      <setting name="Password" serializeAs="String">
        <value>Supervisor</value>
      </setting>
      <setting name="Uri" serializeAs="String">
        <value>/ServiceModel/AuthService.svc/Login</value>
      </setting>
    </BGlobal.OutlookAddInBPMONLine.Core.Properties.Settings>
    <BGlobal.OutlookAddInBPMONLine.Properties.Settings>
      <setting name="Server" serializeAs="String">
        <value />
      </setting>
      <setting name="User" serializeAs="String">
        <value />
      </setting>
      <setting name="Password" serializeAs="String">
        <value />
      </setting>
      <setting name="Uri" serializeAs="String">
        <value>/ServiceModel/AuthService.svc/Login</value>
      </setting>
    </BGlobal.OutlookAddInBPMONLine.Properties.Settings>
  </userSettings>
</configuration>